# Creating table for RP sales

This will create a pandas data frame with the necessary information from the EXTR_RPSales.csv and will include a unique id based on the the Major and the Minor values and then will aso return 

the square footage of the property
### Imports

In [1]:
import pandas as pd

In [8]:
fields = ['Major','Minor', 'SalePrice', 'DocumentDate']

df_rpsales = pd.read_csv('csv_files/raw/EXTR_RPSale.csv', usecols=fields)

In [11]:
df_rpsales = df_rpsales[df_rpsales.DocumentDate.str.contains('2018')== True]

In [13]:
df_rpsales['id'] = df_rpsales.Major.astype(str)+df_rpsales.Minor.astype(str)

In [15]:
del df_rpsales['Major']

In [16]:
del df_rpsales['Minor']

In [17]:
df_rpsales

        DocumentDate  SalePrice          id
13        09/13/2018     165000    28180920
110       04/03/2018          0   388190170
212       11/24/2018    1035000   924190170
244       03/29/2018     965000  3856905560
298       09/12/2018     888000  3326059208
...              ...        ...         ...
2057867   07/23/2018     488000   133270190
2057891   06/06/2018          0   403940530
2057901   10/16/2018     915000   414520160
2057936   02/28/2018          0   119300195
2057967   06/06/2018     425000   511330181

[61053 rows x 3 columns]

In [18]:
df_rpsales.to_csv(r'csv_files/filtered/rpsales.csv')