In [21]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
engine = create_engine("postgresql:///kc_housing")

In [7]:
kc_housing_df = pd.read_sql_table('kc_data', con = engine)

In [29]:
kc_housing_df.loc[kc_housing_df['saleprice'] == 0]

Empty DataFrame
Columns: [sqft, saleprice, address, districtname, numberofunits, sqftlot, housefootprint, proportionhouse]
Index: []

In [24]:
## this converts a saleprice of 0 into a NaN
kc_housing_df['saleprice'].replace(0, np.nan, inplace= True)
kc_housing_df['saleprice']

0        310000.0
1             NaN
2             NaN
3        500000.0
4             NaN
           ...
43736    483000.0
43737    315000.0
43738    205000.0
43739         NaN
43740         NaN
Name: saleprice, Length: 43741, dtype: float64

In [32]:
## this replaces entries with a saleprice of 0 with the overall mean of all saleprices
mean_price = kc_housing_df['saleprice'].mean()
kc_housing_df['saleprice'] = kc_housing_df['saleprice'].fillna(mean_price)